{% extends "base.html" %}

{% block content %}
    <!-- Input form -->
    <div id="input-form">
        <form id="stop-form" hx-get="/next-bus" hx-target="#bus-times" hx-swap="innerHTML">
            <input type="text" name="stop_name" id="stop_name" placeholder="Enter stop name" autocomplete="off" required>
            <input type="hidden" name="stop_id" id="stop_id" value="{{ stop_id if stop_id else '' }}">
            <button type="submit" id="search-button" aria-label="Search">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <!-- Error message -->
    <div id="error-message"></div>
    <div id="bus-times">
        {% if stop_id %}
            <!-- Load bus times if stop_id is provided -->
            <div hx-get="/next-bus?stop_id={{ stop_id }}" hx-trigger="load" hx-target="#bus-times" hx-swap="innerHTML"></div>
        {% endif %}
    </div>
{% endblock %}
